Django>=1.7
Markdown>=2.6
South==1.0.2
argparse==1.2.1
django-bootstrap-form==3.1
django-helpdesk==0.1.16
django-markdown-deux==1.0.5
docutils==0.12
email-reply-parser==0.3.0
markdown2==2.3.0
pytz==2014.10
simplejson==3.6.5
textile==2.2.2
wsgiref==0.1.2
